<div class="jumbotron main-slider p-4 p-md-5 text-white rounded bg-dark mt-3">
    <div class="col-md-5 px-0">
        <h1 class="display-4 font-italic">
            IT Chapter Two
        </h1>
        <p class="lead my-3">
            27 years after overcoming the malevolent supernatural entity Pennywise,
            the former members of the Losers' Club, who have grown up and moved away
            from Derry, are brought back together by a devastating phone call.
        </p>
        <p class="lead mb-0">
            <!-- <a href="#" class="text-white font-weight-bold">Continue reading...</a> -->
        </p>
    </div>
</div>